/* App.css */
.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

.user-list {
  margin-top: 20px;
  padding: 0;
}

.user-list .user-card {
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}
